.header{
    padding-top: 20px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.header__row{
    justify-content: space-between;
}
.header__first--svg{
    cursor: pointer;
    animation-name: svg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.header__second--svg{
    cursor: pointer;
}
@keyframes svg {
     0% {
        z-index: 1;
    }
    49% {
        z-index: 1;
    }
    50% {
        z-index: -1;
    }
    100% {
        z-index: -1;
    }
}
